.hotels-page {
  background-image: url('/images/catskills.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 140px 60px 60px 60px;
  @include bp(laptop) {
    padding: 120px 120px 120px 120px;
  }
  @include bp(mobileonly) {
    padding: 80px 20px 20px 20px;
  }
  justify-content: space-between;
  align-items: flex-start;
  > h4 {
    width: 100%;
    text-align: center;
    padding-bottom: .5rem;
    margin: 3rem 30% 1rem;
  }
  .little-cards {
    margin-top: 1rem;
    @include bp(laptop) {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;
    }
  }
  .footnote {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    margin-top: 2rem;
    padding: 0 15%;
  }
}

.hotel-image {
  background: url('/hotel.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.card {
  background-color: rgba(#fff, 0.8);
  position: relative;
  @include shadow(1);
  padding-bottom: 5rem;
  .img {
    background-size: contain;
    text-align: center;
    padding: 2rem;
    background-color: rgba(#958C91, 0.8);
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    h3, h4 {
      margin: 0;
      color: #fff;
      line-height: 20px;
    }
    h3 {
      font-size: 23px;
      font-weight: 500;
      letter-spacing: 1px;
    }
    h4 {
      margin-top: 10px;
    }
  }
  p {
    text-align: center;
    padding: 0.3rem 2rem;
    font-size: 14px;
    font-family: 'helvetica';
    @include bp(desktop) {
      padding: 0.3rem 3rem;
    }
  }
  .deets {
    p {
      margin: 0;
    }
  }
  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 2rem;
    button {
      @include shadow(1);
      a {
        text-decoration: none;
        color: #fff;
      }
      &:hover {
        @include shadow(2);
      }
    }
  }
  &.big-card {
    width: 75%;
    margin: 0 auto;
    p {
      padding: 0 15%;
    }
    @media only screen and (max-width : 64em) {
      width: 100%;
      p {
        padding: 0.3rem 2rem;
      }
    }
    .button-container {
      button:last-of-type {
        margin-left: 20px;
        @include bp(mobileonly) {
          margin-left: 10px;
        }
      }
    }
  }
  &.little-card {
    margin-top: 1rem;
    &:first-of-type {
      margin-top: 0;
    }
    @include bp(laptop) {
      width: 32%;
      min-height: 200px;
      margin: 0;
    }
  }
}
