.hotels-page {
  background-size: cover;
  min-height: 100vh;
  display: block;
  flex-wrap: wrap;
  padding: 0 60px 40px 60px;
  .fa-star {
    color: yellow;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 1), 0 1px 2px rgba(0, 0, 0, 1);
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
  }
  a {
    color: #1976d2;
    font-size: 14px;
    &:hover {
      color: darken(#1976d2, 15%);
    }
  }
  @include bp(laptop) {
    display: flex;
    padding: 0 60px 100px;
  }
  @include bp(mobileonly) {
    padding: 0 20px 60px 20px;
  }
  justify-content: space-between;
  align-items: flex-start;
  > h4 {
    width: 100%;
    text-align: center;
    padding-bottom: .5rem;
    margin: 3rem 30% 1rem;
  }
  .little-cards {
    @include bp(laptop) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  .footnote {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    margin-top: 2rem;
    padding: 0 15%;
  }
}

.col {
  width: 100%;
  padding: 0 10px;
  @include bp(laptop) {
    min-height: 82vh;
  }
  &:first-of-type {
    margin-bottom: 16px;
    height: auto;
    @include bp(laptop) {
      max-width: 40%;
      margin-bottom: 0;
    }
  }
}

.card:nth-child(3) .img {
  background-image: url('/bestwestern.jpeg');
}

.card:nth-child(2) .img {
  background-image: url('/camping.jpg');
}

.card:nth-child(1) .img {
  background-image: url('/emerson.jpg');
}

// .card:nth-child(3) .img {
//   background-image: url('/kates.jpg');
// }

.card {
  border: 0;
  overflow: hidden;
  background-color: rgba(#fff, 0.8);
  position: relative;
  @include shadow(1);
  .body {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .body > p {
    max-width: 450px;
    line-height: 20 px;
  }
  .img {
    background-size: cover;
    background-position: center center;
    text-align: center;
    background-color: rgba(#958C91, 0.8);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .text {
      padding: 20px;
      background-color: rgba(0, 0, 0, 0.2);
      width: 100%;
      min-height: 75px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    h3, h4 {
      margin: 0;
      color: #fff;
      line-height: 20px;
      text-shadow: 0 1px 3px rgba(0, 0, 0, 1), 0 1px 2px rgba(0, 0, 0, 1);
    }
    h3 {
      font-size: 23px;
      letter-spacing: 2px;
      font-weight: 600;
    }
    h4 {
      margin-top: 5px;
      letter-spacing: 1px;
      font-size: 14px;
      line-height: 15px;
      margin-bottom: -5px;
    }
  }
  p {
    text-align: center;
    font-size: 14px;
    font-family: 'helvetica';
    margin-bottom: 10px;
    &.left {
      font-weight: bold;
      text-align: left;
    }
  }
  .deets {
    p {
      margin: 0;
      font-weight: bold;
    }
  }
  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    button {
      @include shadow(1);
      a {
        text-decoration: none;
        color: #fff;
      }
      &:hover {
        @include shadow(2);
      }
    }
  }
  &.big-card {
    height: calc(100% - 15px);
    .img {
      background-image: url('/woodstock.jpg');
    }
    .button-container {
      flex-wrap: wrap;
      button {
        margin: 10px;
        @include bp(mobileonly) {
          margin: 5px;
        }
      }
    }
  }
  &.little-card {
    margin-top: 1rem;
    &:first-of-type {
      margin-top: 0;
    }
    &.wide {
      width: 100%;
      .body > p {
        max-width: 90%;
      }
    }
    @include bp(laptop) {
      width: calc(50% - 10px);
      margin: 0;
      margin-bottom: 15px;
      margin-right: 5px;
    }
  }
}
