.map-container {
  max-width: 60vh;
  min-width: 500px;
  height: 55vh;
  opacity: .85;
  position: relative;
  margin-top: -7rem;
  h2 {
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: .5rem;
  }
  @include bp(tablet) {
    min-width: 800px;
  }
  @include bp(mobileonly) {
    width: 95%;
    min-width: 95%;
    height: calc(100vh - 45px - 50px - 72px - 20px - 50px);
    margin-top: -50px;
    min-height: 200px;
  }
  > .map-canvas {
    width: 100%;
    height: 100%;
    @include shadow(1);
  }
  .controls {
    display: flex;
    left: 0;
    padding: .5rem 0;
    width: 100%;
    button {
      width: 100%;
      background-color: $blue;
      transition: .5s ease-in-out all;
      font-size: 12px;
      padding: .5rem 1rem;
      border-radius: 5px;
      @include shadow(1);
      &:hover {
        background-color: darken($blue, 10%);
      }
    }
    input#places-search {
      @include shadow(1);
      background-color: white;
      color: black;
      width: 100%;
      font-size: 12px;
      padding: .5rem;
      transition: .5s ease-in-out all;
      &.hidden {
        width: 0;
        padding: 0;
      }
      @include bp(mobileonly) {
        font-size: 16px;
      }
    }
    .radios {
      color: black;
      display: flex;
      align-items: center;
      margin-left: .5rem;
      > div {
        background-color: white;
        height: 31px;
        display: flex;
        align-items: center;
        padding: 0 .5rem;
        @include shadow(1);
        &:first-of-type {
          margin-right: .5rem;
        }
      }
      label {
        margin-left: .5rem;
        font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 12px;
        margin-top: 1px;
      }
      &.hidden {
        opacity: 0;
      }
    }
  }
  .footnote {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin-top: 0;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    @include bp(mobileonly) {
      background-color: rgba(0, 0, 0, 0.3s);
      padding: 10px 15px;
    }
  }
}

.info-window, .info-window a {
  text-align: center;
  color: black;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 13px;
  position: relative;
  top: 0;
  text-decoration: none;
  min-width: 150px;
}

.info-window a {
  &:hover {
    font-weight: bold;
  }
}

.directions {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  > div {
    @include shadow(1);
    background-color: white;
    color: #000;
    padding: 0.5rem 0.8rem;
  }
}
