.map-container {
  max-width: 60vh;
  min-width: 500px;
  height: 60vh;
  opacity: .85;
  position: relative;
  > .map-canvas {
    width: 100%;
    height: 100%;
  }
  .controls {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    padding: .5rem;
    width: 100%;
    button {
      background-color: #36b3a8;
      transition: .5s ease-in-out all;
      font-size: 12px;
      padding: .5rem 1rem;
      border-radius: 5px;
      @include shadow(1);
      &:hover {
        background-color: darken(#36b3a8, 10%);
      }
    }
    input {
      @include shadow(1);
      background-color: white;
      color: black;
      width: 100%;
      font-size: 12px;
      padding: .5rem;
      transition: .5s ease-in-out all;
      &.hidden {
        width: 0;
        padding: 0;
      }
    }
  }
}

.info-window, .info-window a {
  text-align: center;
  color: black;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  font-size: 13px;
  position: relative;
  top: 0;
  text-decoration: none;
}

.info-window a {
  &:hover {
    font-weight: bold;
  }
}
