.content-wrapper.rsvp-page {
  min-height: 100vh;
  padding: 7% 20px 100px 20px;
  background: url('/rsvp.png');
  background-position: top center;
  background-repeat: no-repeat;
  // background-position-y: 15%;
  background-position-y: 120px;
  background-size: 350px;
  @include bp(phablet) {
    padding-top: 120px;
  }
  form, .thanks {
    margin-top: 160px;
    text-align: center;
  }
  .col {
    padding: 0;
    &:last-of-type {
      padding-left: 10px;
    }
  }
}

.form-group {
  max-width: 400px;
}

article.rsvp {
  background-image: url('/paper.jpg');
  background-repeat: repeat;
}

.leaf {
  transition: .5s ease-in-out all;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  max-height: 100%;
  &.leaf-two {
    right: -10px;
    top: 25%;
    left: auto;
    transform: rotate(-30deg);
    height: 250px;
    @include bp(desktop) {
      right: 7%;
      height: 300px;
    }
  }
  &.leaf-four, &.leaf-three {
    width: 350px;
  }
  &.leaf-four {
    top: 15%;
    transform: rotate(-40deg);
    left: -50px;
    @include bp(desktop) {
      left: 4%;
    }
  }
  &.leaf-three {
    top: 50%;
    transform: rotate(-90deg);
    left: 20px;
    @include bp(desktop) {
      left: 14%;
      top: 52%;
    }
  }
}

@include bp(tabletOrSmaller) {
  .content-wrapper.rsvp-page {
    padding-top: 50px;
    background-position-y: 90px;
    background-size: 250px;
  }
  .leaf {
    z-index: 0;
    &.leaf-four {
      width: 180px;
      top: 90px;
      left: -60px;
    }
    &.leaf-two {
      right: -15px;
      height: 150px;
      transform: rotate(-90deg);
      top: 40px;
    }
    &.leaf-three {
      display: none;
    }
  }
}

.content-wrapper.guests-page {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  h4 {
    font-family: 'Satisfy';
    font-size: 60px;
  }
  h4, p {
    text-align: center;
  }
  p {
    font-weight: bold;
  }
  .guests-table {
    padding-top: 150px;
    h4 {
      margin-bottom: 20px;
    }
    table {
      background-color: white;
      font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
      font-size: 12.5px;
      .fa-thumbs-up {
        color: green;
      }
      .fa-thumbs-down {
        color: red;
        opacity: .7;
      }
      td.center {
        text-align: center;
      }
    }
  }
}
