#travel .section-header {
  padding-bottom: 0;
  padding-left: 20px;
  @include bp(tablet) {
    padding-left: 50px;
  }
  @include bp(laptop) {
    padding-left: 60px;
  }
  @include bp(mobileonly) {
    padding-left: 0;
  }
}

#travel {
  position: relative;
  overflow: hidden;
}

.content-wrapper.travel {
  padding: 20px;
  display: block;
  @include bp(tablet) {
    padding: 20px 50px 50px;
  }
  a {
    font-family: 'arial';
    color: $blue;
    transition: .2s ease-in-out all;
    cursor: pointer;
    &:hover {
      color: darken($blue, 10%);
    }
  }
  h1 {
    font-size: 1.6em;
    margin-top: 0;
  }
  @include bp(laptop) {
    padding: 20px 120px 50px;
  }
  p {
    font-family: 'Helvetica';
    font-size: 15px;
  }
  ul {
    padding-left: 0;
    @include bp(tablet) {
      display: flex;
      padding-left: 20px;
    }
    width: 100%;
    justify-content: center;
  }
  li {
    list-style-type: none;
    @include bp(tablet) {
      width: calc(50% - 20px);
      p {
        margin-bottom: 0;
      }
    }
    &:first-of-type {
      margin-bottom: 20px;
      @include bp(tablet) {
        margin-right: 20px;
        margin-bottom: 0;

      }
    }
    h4 {
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.flex {
  display: flex;
  align-items: center;
  &.center {
    justify-content: center;
  }
  &.end {
    justify-content: flex-end;
  }
}

.travel-block {
  @include shadow(1);
  z-index: 200;
  display: inline-block;
  vertical-align: top;
  background-color: white;
  color: $greyish-brown;
  border-radius: 4px;
  padding: 20px;
  margin: 10px;
  @include bp(desktop) {
    margin: 20px;
    width: calc(50% - 40px);
  }
  p {
    margin-bottom: 0;
  }
  &:last-of-type {
    @include bp(desktop) {
      width: 100%;
      display: block;
      margin-bottom: 0;
    }
  }
}
